.Restaurant-item-container {
  display: flex;
  flex-direction: row;
  margin-right: 30px;
  width: 350px;
  margin-bottom: 32px;
}

.restaurant-item-image {
  height: 100px;
  width: 160px;
  border-radius: 8px;
  margin-right: 16px;
}

.restaurants-details-container {
  display: flex;
  flex-direction: column;
}
.restaurants-name {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  color: #334155;
  margin-bottom: 4px;
}

.food-type {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #64748b;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.restaurant-ratings-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 0px;
  margin: 0px;
  padding: 0px;
}

.rating-icon {
  padding: 0px;
  margin: 0px;
  color: #ffcc00;
  height: 12px;
  width: 12px;
}

.rating-text {
  padding: 0px;
  margin: 0px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #1e293b;
}

.total-reviews-text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #64748b;
  margin-left: 10px;
}
.link-item {
  text-decoration: none;
}

@media (max-width: 768px) {
  .restaurant-item-image {
    width: 160px;
  }
  .restaurants-name {
    font-size: 16px;
  }
  .link-item {
    width: 100%;
  }
}
